@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'AbeatbyKai';
  src: url('../../public/Assets/font/ABEAKRG.TTF') format('TTF');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: 'Abhaya Libre';
}
h1, h2,.heading{
  font-family: 'AbeatbyKai';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 0.1px;
}
a{
cursor:pointer; 
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(240, 248, 255, 0.116);
  
}
